<div class="page-auth">
    <div class="main-body">
        <div class="card bg-color-white login-card">
            <div class="card-content">
                <div class="logo">
                    <img class="login-logo" src="assets\images\indus_logo_main_new.png" />
                    <div class="">
                        <span
                            style=" font-size: 18px; font-weight: bolder; font-style: italic; color:green; padding-top: 1.25rem; display: block;">
                            Alerts Monitoring System</span>
                    </div>
                </div>

                <div class="box-body text-center bg-color-white" style="padding: 2rem 1.25rem !important">
                    <!-- <div class="landing-page-loader" *ngIf="loader"></div> -->
                    <!-- <div *ngIf="!loader"> -->
                        <hr>
                        <!-- <img class="cursor-pointer" (click)="login()" width="240px"
                            src="assets/images/microsoft-button.png"> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>

    </div>
</div>