.custom-sidenav {
    min-width: 250px;
    width: auto;
    height: 100%;
    background-color: #333C44;
}

.custom-scroll {
    overflow: hidden;
}

.custom-scroll:hover {
    overflow: auto;
}

.custom-sidenav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.custom-sidenav ul li a {
    padding: 10px 30px;
    color: #a1a1a1;
    background-color: transparent;
    display: block;
    text-decoration: none;
}

.custom-sidenav ul li a.active,
.custom-sidenav ul li a:hover {
    background-color: rgba(0,0,0,.12);
    color: #ffffff;
}